doctype html 
html 
  head 
    title MagicTour #{tour}
    link(rel="stylesheet", href="css/style.css")
    link(rel="shortcut icon", href="img/favicon.png", type="image/x-icon")
  
  body 
    // kurinadigan koment
    //- kunirmaydigan koment
    - const a = 5;
    p= a*5

    h1(style="color: red")= tour
    p= user 